<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h3 th:text="${titulo}"></h3>

	<form th:action="@{/agregar}" th:object="${usuario}" method="post">
	<div class="form-group">

		<div>
			<label for="identificador">Codigo de producto Universal</label>
			<div>
				<input type="number" id="identificador" th:field="*{identificador}">
			</div>
			<div th:if="${#fields.hasErrors('identificador')}"
				th:errors="*{identificador}"></div>
		</div>
		<div>
			<label for="nombre">Nombre producto</label>
			<div>
				<input type="text" id="nombre" th:field="*{nombre}">
			</div>
			<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
		</div>
		<div>
			<label for="marca">Marca</label>
			<div>
				<input type="text" id="marca" th:field="*{marca}">
			</div>
			<div th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></div>
		</div>
		<div>
			<label for="descrpcion">Descripcion</label>
			<div>
				<input type="text" id="descrpcion" th:field="*{descrpcion}">
			</div>
			<div th:if="${#fields.hasErrors('descrpcion')}"
				th:errors="*{descrpcion}"></div>
		</div>
		<div>
			<label for="existencia">Existencias</label>
			<div>
				<input type="number" id="existencia" th:field="*{existencia}">
			</div>
			<div th:if="${#fields.hasErrors('existencia')}" th:errors="*{existencia}"></div>
		</div>
		<div>
			<label for="fecha">fecha de ingreso</label>
			<div>
				<input type="date" id="fecha" th:field="*{fecha}">
			</div>
			<div th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></div>
		</div>

		<div>
			<input type="submit" value="Enviar">
		</div>
		
</div>
	</form>
</body>
</html>